h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 20px;
  letter-spacing: 2px;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 40px;
  text-shadow: 0 0 3px #ff0000;
}

.formularz {
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://cdn.pixabay.com/photo/2016/09/13/19/31/texture-1668079_960_720.jpg);
  background-size: cover;
  height: auto;
  width: 700px;
  border: 3px solid goldenrod;
  border-radius: 50px;
}

.form {
  margin: 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

.form-control {
  border: 2px solid goldenrod;
  border-radius: 50px;
}

.btn-primary {
  width: 120px;
  margin: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.col-sm-2 {
  width: 400px;
}

.potwierdzenie {
  color: red;
}
